<%= form_with model: @task,local: true , data: { turbo: false } do |f| %>
    <% if @task.errors.any? %>
        <ul>
            <% @task.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul
    <% end %>

    <%= f.label :title %>
    <%= f.text_field :title %> <br />

    <%= f.label :status %>
    <%= f.select :status, options_for_select(Task.statuses.map {|k,v| [Task.human_attribute_name([:status, k].join('.')),k]} , @task.status) %>                 
    
    <%= f.label :priority %>
    <%= f.select :priority, options_for_select(Task.priorities.map {|k,v| [Task.human_attribute_name([:priority, k].join('.')),k]} , @task.priority) %><br />     

    <%= f.label :start_time %>
    <%= f.date_field :start_time, as: :date %> 

    <%= f.label :end_time %>
    <%= f.date_field :end_time, as: :date %> <br />                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              

    <%= f.label :content %>
    <%= f.text_area :content %> <br />        

    <%= f.submit %>

<% end %>
