<%= form_with model: @task,local: true , data: { turbo: false } do |f| %>
    <% if @task.errors.any? %>
        <ul>
            <% @task.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul
    <% end %>

    <%= f.label :title, t("tasks.title") %>
    <%= f.text_field :title %> <br />

    <%= f.label :status, t("tasks.status") %>
    <%= f.select :status, options_for_select(Task.statuses.map {|k,v| [t("tasks.status_#{k}"),k]} , @task.status) %>                 
    
    <%= f.label :priority, t("tasks.priority") %>
    <%= f.select :priority, options_for_select(Task.priorities.map {|k,v| [t("tasks.priority_#{k}"),k]} , @task.priority) %><br />     

    <%= f.label :start_time, t("tasks.start_time") %>
    <%= f.date_field :start_time, as: :date, value: f.object.try(:strftime,"%Y/%m/%d") %> 

    <%= f.label :end_time, t("tasks.end_time") %>
    <%= f.date_field :end_time, as: :date, value: f.object.try(:strftime,"%Y/%m/%d") %> <br />                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              

    <%= f.label :content, t("tasks.content") %>
    <%= f.text_area :content %> <br />        

    <%= f.submit %>

<% end %>
