<div class="flex content-center justify-between">
  <%= form_tag tasks_path, method: :get, id:"search" do %>
    <%= text_field_tag :title, params[:title], placeholder: t("search_title"), id:"title", class:"border-gray-50" %>
    <%= select_tag :status, options_for_select(status_value_options, params[:status]), prompt: t("search_status") %>
    <%= select_tag :order, options_for_select(order_options, params[:order]), prompt: t("order_by")  %>
    <%= submit_tag t("search"), name: nil %>
  <% end %>
  <%= link_to t("new_task"), new_task_path, class: "text-white bg-red-400 p-2 px-8 rounded-full" %>
</div>
<% if flash.any? %>
    <% flash.each do |type, msg| %>
    <%= msg %><br/>
    <% end %>
<% end %>
<table class="w-full">
  <thead>
    <tr>
      <td><%= Task.human_attribute_name :title %></td>
      <td><%= Task.human_attribute_name :status %></td>
      <td><%= Task.human_attribute_name :priority %></td>
      <td><%= Task.human_attribute_name :start_time %></td>
      <td colspan="3"><%= Task.human_attribute_name :end_time %></td>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td id="title"><%= task.title %></td>
        <td><%= task_status(task) %></td>
        <td id="priority"><%= task_priority(task) %></td>
        <td><%= task.start_time %></td>
        <td><%= task.end_time %></td>
        <td>
          <%= link_to edit_task_path(task) do %>
            <%= image_tag "edit.png", class: "w-4 h-4" %>
          <% end %>
        </td>
        <td>
          <%= link_to task ,data: { turbo_method: :delete, turbo_confirm: t("message.delete_task_confirm") } do %>
            <%= image_tag "close.png", class: "w-4 h-4" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @tasks %>
