<!DOCTYPE html>
<html>
  <head>
    <title>TodoAppByRuby</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1>所有任務</h1>
    <% if flash.any? %>
        <% flash.each do |type, msg| %>
        <%= msg %><br/>
        <% end %>
    <% end %>
    <%= link_to "新增任務", new_task_path %>
    <table>
  <thead>
    <tr>
      <td>標題</td>
      <td>狀態</td>
      <td>優先</td>
      <td>開始日期</td>
      <td>結束日期</td>
      <td>動作</td>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td>
        <% case task.status
        when 1 %>
          NotStarted
        <% when 2 %>
          InProgress
          <% when 3 %>
          Complete
        <%end%>
      </td>
      <td>
        <% case task.priority
        when 1 %>
          High
        <% when 2 %>
          Medium
          <% when 3 %>
          Low
        <%end%>
      </td>
      <td><%= task.start_time %></td>
      <td><%= task.end_time %></td>
      <td>
        <%= link_to "編輯", edit_task_path(task) %>
      </td>
      <td>
        <%= link_to "刪除", task ,data: { turbo_method: :delete, turbo_confirm:"確認刪除" } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
  </body>
</html>