<h1>所有任務</h1>
<% if flash.any? %>
    <% flash.each do |type, msg| %>
    <%= msg %><br/>
    <% end %>
<% end %>
<%= link_to "新增任務", new_task_path %>
</br>
<div class="dropdown">
  <p><%= @order_tag %></p>
  <div class="dropdown-content">
    <%= link_to  "依#{t("tasks.end_time")}降冪排序", tasks_path(order: "end_time", sort_by: "desc") %>
    <%= link_to  "依#{t("tasks.end_time")}升冪排序", tasks_path(order: "end_time", sort_by: "asc") %>
  </div>
</div>
<table>
  <thead>
    <tr>
    <td><%= t("tasks.title") %></td>
    <td><%= t("tasks.status") %></td>
    <td><%= t("tasks.priority") %></td>
    <td><%= t("tasks.start_time") %></td>
    <td><%= t("tasks.end_time") %></td>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td id="title"><%= task.title %></td>
      <td><%= t("tasks.status_#{task.status}") %></td>
      <td><%= t("tasks.priority_#{task.priority}") %></td>
      <td><%= task.start_time %></td>
      <td><%= task.end_time %></td>
      <td>
        <%= link_to t("edit"), edit_task_path(task) %>
      </td>
      <td>
        <%= link_to t("delete"), task ,data: { turbo_method: :delete, turbo_confirm: t("message.delete_task_confirm") } %>
      </td>
    </tr>
    <% end %>
</tbody>
