<h1>所有任務</h1>
<% if flash.any? %>
    <% flash.each do |type, msg| %>
    <%= msg %><br/>
    <% end %>
<% end %>
<%= link_to "新增任務", new_task_path %>
</br>
<div class="dropdown">
  <p>
    <% if params[:order].nil? %>
      選擇排序
    <% else %>
      <%= t("order_option." + params[:order] + "_" + params[:sort_by]) %>
    <% end %>
  </p>
  <div class="dropdown-content" id="order_menu">
    <%= link_to  "依#{Task.human_attribute_name :end_time}降冪排序" , tasks_path(order: "end_time", sort_by: "desc"), id: "end_time_desc" %>
    <%= link_to  "依#{Task.human_attribute_name :end_time}升冪排序", tasks_path(order: "end_time", sort_by: "asc"), id: "end_time_asc" %>
  </div>
</div>
<table>
  <thead>
    <tr>
    <td><%= Task.human_attribute_name :title %></td>
    <td><%= Task.human_attribute_name :status %></td>
    <td><%= Task.human_attribute_name :priority %></td>
    <td><%= Task.human_attribute_name :start_time %></td>
    <td><%= Task.human_attribute_name :end_time %></td>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td id="title"><%= task.title %></td>
      <td><%= Task.human_attribute_name [:status, task.status].join(".") %></td>
      <td><%= Task.human_attribute_name [:priority, task.priority].join(".") %></td>
      <td><%= task.start_time %></td>
      <td><%= task.end_time %></td>
      <td>
        <%= link_to t("edit"), edit_task_path(task) %>
      </td>
      <td>
        <%= link_to t("delete"), task ,data: { turbo_method: :delete, turbo_confirm: t("message.delete_task_confirm") } %>
      </td>
    </tr>
    <% end %>
</tbody>
