<%= form_with url: user_form_url(@user), mehtod: user_form_method, model: @user,local: true , data: { turbo: false } , id: 'form_user', class:"form mx-auto w-2/3 bg-white p-8" do |f| %>
  <% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
   <% end %>
  <%= f.label :name %>
  <%= f.text_field :name, class:"border-gray-50"%>
  <% if current_page?(action: 'new') %>
    <%= f.label :password%>
    <%= f.password_field :password, value: f.object.password, class:"border-gray-50" %>
  <% end %>
  <%= f.label :role %>
  <%= f.select :role, options_for_select(role_key_options) %>
  <%= f.submit %>
<% end %>
