<div class="flex content-center justify-between">
  <%= link_to t('new_user'), new_admin_user_path, class: "text-white bg-red-400 p-2 px-8 rounded-full", id: 'new_user' %>
</div>
<% if flash.any? %>
    <% flash.each do |type, msg| %>
    <%= msg %><br/>
    <% end %>
<% end %>
<table class="w-full">
  <thead>
    <tr>
      <td><%= User.human_attribute_name :name %></td>
      <td><%= User.human_attribute_name :role %></td>
      <td colspan="4">任務數量</td>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td id="name"><%= user.name %></td>
      <td><%= user.role %></td>
      <td id="tasks_number"><%= user.tasks.count %></td>
      <td>
        <%= link_to edit_admin_user_path(user), id: 'edit' do %>
          <%= image_tag "/images/edit.png", class: "w-4 h-4" %>
        <% end %>
      </td>
      <td>
        <%= link_to admin_user_tasks_path(user), id: 'tasks' do %>
          <%= image_tag "/images/edit.png", class: "w-4 h-4" %>
        <% end %>
      </td>
      <td>
      <%= button_to image_tag("/images/close.png", class: "w-4 h-4"), admin_user_path(id: user.id), method: :delete, id: 'delete' %>
      </td>
    </tr>
    <% end %>
</tbody>
