<div class="flex items-center">
  <%= link_to admin_path do %>
      <%= image_tag "right-arrow.png", class: "w-4 h-4" %>
  <% end %>
  <h1 class="ml-4">
    <%= t("new_task") %>
  </h1>
</div>
<% if flash.any? %>
  <% flash.each do |type, msg| %>
    <%= msg %><br/>
  <% end %>
<% end %>
<table class="w-full">
  <thead>
    <tr>
      <td><%= Task.human_attribute_name :title %></td>
      <td><%= Task.human_attribute_name :status %></td>
      <td><%= Task.human_attribute_name :priority %></td>
      <td><%= Task.human_attribute_name :start_time %></td>
      <td><%= Task.human_attribute_name :end_time %></td>
      <td><%= Task.human_attribute_name :tag %></td>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td id="title"><%= task.title %></td>
        <td><%= task_status(task) %></td>
        <td id="priority"><%= task_priority(task) %></td>
        <td><%= task.start_time %></td>
        <td><%= task.end_time %></td>
        <td>
          <% task.tags.each do |tag| %>
            <p class='p-2 text-center bg-red-50 text-red-300 rounded mb-1'><%= tag.name %></p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
